.list-container {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* her bir item'ı dikey olarak yerleştir */
}

.list-item span {
  font-size: 14px;
  margin-bottom: 5px; /* her span arasına boşluk ekliyoruz */
  color: #555;
}

.list-item:hover {
  background-color: #e2e6ea;
}

.item-name, .item-surname, .item-phone {
  font-weight: bold;
}
